---
import BigSchoolIcon from '../assets/BigSchoolIcon.astro';
---

<article
  id='school'
  class='flex flex-col min-h-screen items-center justify-center'
>
  <div class='sm:w-3/5'>
    <header class='flex gap-4 items-center'>
      <BigSchoolIcon />
      <h1 class='sm:text-5xl text-3xl text-blue-200 font-bold'>
        Experiencia académica
      </h1>
    </header>
    <diV class='border-l-2 border-blue-200 pl-8 pr-2 mt-12'>
      <div>
        <h2 class='sm:text-3xl text-xl font-semibold text-blue-100'>
          Universidad Católica de Pereira
        </h2>
        <ul class="list-disc mt-4 sm:ml-6">
          <li class='sm:text-lg text-gray-300'>Carrera de <strong>Ingeniería en Sistemas y Telecomunicaciones</strong></li>
          <p class='sm:text-md text-sm text-gray-400'>2018 - 2023</p>
          <li class='sm:text-lg text-gray-300'>Monitor de Programación I y III</li>
          <p class='sm:text-md text-sm text-gray-400'>2020 - 2022: Explicar programación estructurada, estructura de datos, complejidad computacional, recursividad y algoritmia avanzada.</p>
          <li class='sm:text-lg text-gray-300'>Participación en Maratón de Programación BLA BLA</li>
          <p class='sm:text-md text-sm text-gray-400'>2022</p>
          <li class='sm:text-lg text-gray-300'>Participación en Maratón de Programación BLA BLA</li>
          <p class='sm:text-md text-sm text-gray-400'>2022</p>
          <li class='sm:text-lg text-gray-300'>Premio Mejor Joven Investigador</li>
          <p class='sm:text-md text-sm text-gray-400'>2022</p>
          <li class='sm:text-lg text-gray-300'>Matrícula de Honor</li>
          <p class='sm:text-md text-sm text-gray-400'>2022 - Beca por mejor promedio académico de toda la carrera.</p>
          <li class='sm:text-lg text-gray-300'>Ponente en el <i>"XIII Encuentro Departamental de Semilleros de Investigación e Risaralda - RREDSI"</i></li>
          <p class='sm:text-md text-sm text-gray-400'>2023</p>
          <li class='sm:text-lg text-gray-300'>Tesis Meritoria</li>
          <p class='sm:text-md text-sm text-gray-400'>
            <i>"Desarrollo de una herramienta computacional que permite realizar extracción terminológica sobre literatura científica en IoT"</i> 
            <br />
            Máxima calificación obtenida.
          </p>
        </ul>
      </div>
    </diV>
  </div>
</article>
