---
import Layout from '../layouts/Layout.astro';
import Home from '../screens/Home.astro';
import School from '../screens/School.astro';
---

<Layout title='Alejandro Morales Ríos'>
  <div class='flex flex-col gap-16'>
    <Home />
    <School />
  </div>
</Layout>
