---
import Layout from '../layouts/Layout.astro';
import Home from '../screens/Home.astro';
import Projects from '../screens/Projects.astro';
import School from '../screens/School.astro';
import Work from '../screens/Work.astro';
---

<Layout title='Alejandro Morales Ríos'>
  <div class='flex flex-col gap-16'>
    <Home />
    <School />
    <Work />
    <Projects />
  </div>
</Layout>
