---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Work from '../components/Work.astro';
import Education from '../components/Education.astro';
import About from '../components/About.astro';
---

<Layout title='Alejandro Morales Ríos'>
  <div class='w-full flex flex-col gap-40'>
    <Hero />
    <Work />
    <Education />
    <About />
  </div>
</Layout>
