---
import CVIcon from '../assets/CV-icon.astro';
import CV from '../assets/CV.pdf';
---

<a
  class='flex gap-1 bg-blue-500 rounded-md items-center justify-center py-2 px-3 text-white shadow-sm hover:bg-blue-600 hover:ring-blue-600 hover:ring-2 transition-all ease-in text-sm font-semibold m-2 w-fit'
  href={CV}
  download="CV - Alejandro Morales Ríos.pdf"
>
  <CVIcon />
  <span class='hidden sm:inline-block'>Descargar CV</span>
</a>
