---
import GithubIcon from '../icons/GithubIcon.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
import EmailIcon from '../icons/EmailIcon.astro';
import InstagramIcon from '../icons/InstagramIcon.astro';
---

<section
  class='flex flex-col gap-8 sm:gap-9 md:gap-10 lg:gap-11 xl:gap-12 items-center text-center'
>
  <span
    class='text-xs bg-electric-violet-100 text-electric-violet-700 border-electric-violet-700 px-2 py-1 rounded-xl border-[1px]'
    >Desarrollador Fullstack</span
  >
  <h1
    class='text-5xl lg:text-6xl xl:text-7xl font-semibold text-electric-violet-800'
  >
    Alejandro Morales Rios
  </h1>
  <div class='flex gap-3'>
    <a
      class='cursor-pointer border-[1px] border-electric-violet-600 text-electric-violet-600 rounded-lg p-1
        hover:border-electric-violet-800 hover:text-electric-violet-800 hover:bg-electric-violet-100 transition-colors duration-300 ease-in-out'
      '
    >
      <EmailIcon className='w-5 h-5' />
    </a>
    <a
      class='cursor-pointer border-[1px] border-electric-violet-600 text-electric-violet-600 rounded-lg p-1
        hover:border-electric-violet-800 hover:text-electric-violet-800 hover:bg-electric-violet-100 transition-colors duration-300 ease-in-out'
      '
    >
      <LinkedInIcon className='w-5 h-5' />
    </a>
    <a
      class='cursor-pointer border-[1px] border-electric-violet-600 text-electric-violet-600 rounded-lg p-1
        hover:border-electric-violet-800 hover:text-electric-violet-800 hover:bg-electric-violet-100 transition-colors duration-300 ease-in-out'
      '
    >
      <GithubIcon className='w-5 h-5' />
    </a>
    <a
      class='cursor-pointer border-[1px] border-electric-violet-600 text-electric-violet-600 rounded-lg p-1
        hover:border-electric-violet-800 hover:text-electric-violet-800 hover:bg-electric-violet-100 transition-colors duration-300 ease-in-out'
      '
    >
      <InstagramIcon className='w-5 h-5' />
    </a>
  </div>
  <p class='mx-16 md:mx-20 text-sm sm:text-base'>
    Con más de 5 años de experiencia en el desarrollo de aplicaciones web y
    móviles, con conocimientos en el desarrollo de aplicaciones con React, React
    Native, Node.js, Express, MongoDB, PostgreSQL, entre otros.
  </p>
</section>
