---
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Alejandro Morales Rios - Desarrollador FullStack con más de 5 años de experiencia la creación de aplicaciones web y móviles.'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <div class='fixed left-0 top-0 -z-10 h-full w-full'>
        <div
          class='absolute inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]'
        >
        </div>
      </div>
      <div
        class='mx-6 sm:mx-24 md:mx-48 lg:mx-64 xl:mx-96 mt-24 sm:mt-28 md:mt-32 lg:mt-36 xl:mt-40'
      >
        <slot />
      </div>
    </main>
    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }

      p {
        text-wrap: pretty;
      }
    </style>
  </body>
</html>
